<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="/static/artist.css">
</head>
<body>

    <div>
    <nav><a href="/">Go Back</a></nav>
    </div>

    <div id="artist-container">
        <div class="artist-card" data-id="{{.ID}}">
            <img src="{{.Image}}" alt="{{.Name}}">
            <h1>{{.Name}}</h1> 
        
            <div><strong>Members:</strong><br> {{range .Members}}{{.}}<br>{{end}}</div>
            <div><strong>Creation Date:</strong><br> {{.CreationDate}}</div>
            <div><strong>First Album:</strong><br> {{.FirstAlbum}}</div>

            <div><strong>Locations:</strong><br> {{range .Locations}}{{.}}, {{end}}</div>
            <div><strong>Dates:</strong><br> {{range .Dates}}{{.}}, {{end}}</div>
            <div><strong>Relations:</strong><br> {{range .Relations}}{{.}}, {{end}}</div>
        
    </div>
    
</body>
</html>

